<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Home Page</title>
   <link rel="styleshee" href="/public/css/styles.css">
</head>
<body>

<h1>Hype!</h1>

<div class="container">
    <div class="profile-box">
        <h2 id="userProfileUsername">{{ userProfile.username }}</h2>
        <p id="userProfileCrowns">Crowns: {{ userProfile.crowns }}</p>
    </div> 

    <div class="redirect">
        <h3>Where to?</h3>
        <button onclick="window.location.href='/views/vote.hbs'">Current Gauntlet</button>
        <button onclick="window.location.href='/views/previous.hbs'">Current Gauntlet</button>
    </div>

    <div class="main-content">
        <div class="videos">
            {{#each videos}}
                <div class="video-item">
                    <h3>{{ title }}</h3>
                    <p>URL: {{ url }}</p>
                    <p>Description: {{ description }}</p>
                    <p>Uploaded by: {{ uploader }}</p>
                </div>
            {{/each}}
        </div>

        <div class="leaderboard">
            <h2>Leaderboard</h2>
            <ul>
                {{#each leaderboard}}
                    <li>{{ name }} - {{ crowns }} Crowns</li>
                {{/each}}
            </ul>
            <button onclick="window.location.href='/video.hbs'">Add a submission!</button>
        </div>
    </div>
</div>

<!-- Link JavaScripts -->
<script src="/public/js/main.js"></script>

</body>
</html>
