<!-- Loop over each object in the videoposts array -->
{{#each videoposts as |videopost| }}
<div class="row mb-4 videopost">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
      <a href="/videopost/{{videopost.id}}">{{videopost.title}}</a>
    </h2>

    <p>Created by {{videopost.user.name}} on {{format_date videopost.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{videopost.content}}
    </p>
  </div>
</div>
<hr> <!-- Add this line to separate each post -->
{{/each}}
 