{{> layout}}

<section>
  <h2>Vote for Weekly Challenges</h2>

  {{#if challenges.length}}
    <ul>
      {{#each challenges}}
        <li>
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          
          <!-- Vote Form Stuff -->
          <form action="/vote" method="post">
            <input type="hidden" name="challengeId" value="{{this.id}}">
            <button type="submit">Vote</button>
          </form>
          
          <!-- Display vote count -->
          <span id="challenge-{{this.id}}-count">Votes: 0</span>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No weekly challenges available for voting.</p>
  {{/if}}
</section>

<!-- Import the script to make it work, waiting to see what will work best -->
<script src="../public/js/vote.js"></script>